<div class="animated fadeInLeft pb-5">

    <!-- ============================================================== -->
    <!-- Header clothes -->
    <!-- ============================================================== -->
    <ng-container *ngIf="clothesIsEmpty && !modalMessageActive">
        <h1>El registro ya no existe</h1>
            <hr>
            <button
                class="btn text-primary fw-bold mb-3 d-flex align-items-center"
                [routerLink]="['/clothes']"
                > <i class="bi bi-arrow-left-short fs-3"></i> Volver
            </button>
    </ng-container>

    <!-- ============================================================== -->
    <!-- Body clothes -->
    <!-- ============================================================== -->
    <ng-container *ngIf="!clothesIsEmpty">

        <div class="animated fadeIn">
            <h1>{{ clothes[0].description }}</h1>
            <hr>
            <button
                class="btn text-primary fw-bold mb-3 d-flex align-items-center"
                [routerLink]="['/clothes']"
                > <i class="bi bi-arrow-left-short fs-3"></i> Volver
            </button>
            <div class="row row-cols-1 row-cols-sm-2">

                <div class="col">
                    <img src="../../../assets/img/{{clothes[0].category}}.jpg" class="img-fluid rounded" style="height: 300px; width:100%" alt="...">
                </div>

                <div class="col" >
                    <h2>{{ clothes[0].description }}</h2>
                    <span class="badge bg-primary">{{ clothes[0].category }}</span>
                    <h6 class="fw-bold mb-2 text-muted">{{ clothes[0].price | currency: 'ARS '}}</h6>
                    <p>En stock: <span class="fw-bold">{{ clothes[0].stock }}</span></p>

                    <div class="row g-1">

                        <div class="col-auto">
                            <button
                                class="btn btn-sm btn-success"
                                (click)="openModalUpdateClothes( clothes[0] )"
                                ><i class="bi bi-pen"></i>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button
                                class="btn btn-sm btn-danger"
                                (click)="openModalDeleteClothes( clothes[0] )"
                                ><i class="bi bi-trash"></i>
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </ng-container>
</div>


<!-- ============================================================== -->
<!-- modals components -->
<!-- ============================================================== -->
<app-delete-clothes
    *ngIf="modalDeleteClothesActive"
    [clothes]="clothes[0]"
    (showModal)="modalDeleteClothesActive = $event"
    (chlothesDelete)=delteClothesList($event)>
</app-delete-clothes>

<app-update-clothes
    *ngIf="modalUpdateClothesActive"
    [clothes]="clothes[0]"
    (showModal)="modalUpdateClothesActive = $event"
    (chlothesChange)=updateClothesList($event)>
</app-update-clothes>

<app-modal-message
    *ngIf="modalMessageActive"
    [type]="modalType"
    [title]="modalCustomTitle"
    [text]="modalCustomMessage"
    (modalActive)="modalMessageActive = $event">
</app-modal-message>