<div class="animated fadeIn">
    <div class="container-md">
        <h1 class="display-1 fw-bold">{{ errorMessage.code }}</h1>
        <h2>{{ errorMessage.title }}</h2>
        <p>{{ errorMessage.message }}</p>
        <a class="text-decoration-none fw-bold" [routerLink]="[errorMessage.path]">{{ errorMessage.link }}</a>
    </div>
</div>

