<header class="_shadow-1">
    <nav class="navbar navbar-expand-sm">
        <div class="container-md">

            <!-- brand -->
            <a class="navbar-brand mb-2 fw-bold" routerLink="/">
                <i class="bi bi-x-diamond-fill"></i>
            </a>



            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-caret-down-fill"></i>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
                <ng-container *ngIf="!userIsAuth; else navbarToUserIsAuth">
                    <ul class="navbar-nav mb-2 _gap-3 pt-2">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/auth/signup">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" routerLink="/auth/signin">Iniciar sesión</a>
                        </li>
                    </ul>
                </ng-container>

                <!-- ============================================================== -->
                <!-- navbar user auth -->
                <!-- ============================================================== -->
                <ng-template #navbarToUserIsAuth>

                    <div>
                        <ul class="navbar-nav mb-2 _gap-3 pt-2">

                            <!-- Home
                            ================================================== -->
                            <li class="nav-item">
                                <a class="nav-link fw-bold" routerLink="/">Home</a>
                            </li>

                            <!-- products
                            ================================================== -->
                            <li class="nav-item">
                                <a 
                                    class="nav-link fw-bold" 
                                    routerLink="/clothes"
                                    >Productos</a>
                            </li>

                            <!-- profile - dropdown
                            ================================================== -->
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Perfil
                                </a>
                                
                                <ul class="dropdown-menu p-0 _shadow-1 border-0 p-1" aria-labelledby="navbarDropdown">
                                    
                                    <!-- my profile 
                                    ================================================== -->
                                    <li 
                                        class="py-1 _dropdown-item d-flex align-items-center rounded-3"
                                        routerLink="/profile">
                                        <img src="../../../assets/img/profile.png" class="rounded-circle border bg-light" width="40px" height="40px" alt="">
                                        <a class="py-3 p-3 text-decoration-none text-muted flex-grow-1 _white-space-pre">
                                            <div class="_fw-500 text-dark">{{ userProfile.name }} {{ userProfile.surname }} </div>
                                            <div>Ver perfil</div>
                                        </a>
                                    </li>

                                    <!-- config 
                                    ================================================== -->
                                    <li 
                                        class="py-1 _dropdown-item d-flex align-items-center rounded-3"
                                        routerLink="/profile/update">
                                        <i class="bi bi-gear-fill"></i>
                                        <a class="py-3 p-3 text-decoration-none _fw-500 text-dark flex-grow-1 _white-space-pre" 
                                            >Configuración
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider m-1"></li>

                                    <!-- logout 
                                    ================================================== -->
                                    <li 
                                        class="py-1 _dropdown-item d-flex align-items-center rounded-3">
                                        <i class="bi bi-door-open-fill"></i>
                                        <a 
                                            class="py-3 p-3 text-decoration-none _fw-500 text-dark flex-grow-1 _white-space-pre"
                                            (click)="closeSession()"
                                            >Cerrar sesión
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>


                    </div>
                </ng-template>
            </div>
        </div>
    </nav>
</header>