/* reset bootstrap
============================================== */
.navbar-toggler:focus{
    box-shadow: none;
}
.btn{
    transition: all .3s;
}
@media (min-width: 576px){
    .dropdown-menu{
        transform: translate(-244px, 5px);
    }
} 
.nav-link,
.navbar-toggler{
    font-weight: 500 !important;
    color: var(--bs-dark);
    transition: all .3s;
}
.nav-link:hover,
.navbar-toggler:hover{
    border-radius: .3rem;
    background: var(--bs-gray-200);
}
/* icons
============================================== */
.bi-gear-fill,
.bi-door-open-fill{
    font-size: 35px;
}
.bi-caret-down-fill{
    opacity: .7;
    font-size: 1.8rem;
}
/* custom styles
============================================== */
._dropdown-item{
    cursor: pointer;
    min-width: 300px;
    width: 100%;
    padding: .25rem 1rem;
    background-color: transparent;
    transition: all .3s;
}
._dropdown-item:hover{
    background: var(--bs-gray-200);
}
