<div class="animated fadeInLeft">
    <!-- ============================================================== -->
    <!-- Header Create Clothes -->
    <!-- ============================================================== -->
    <div class="d-flex justify-content-between">

        <h1>Crear producto</h1>
    
    </div>
    <hr>
    <button
        class="btn text-primary fw-bold mb-3 d-flex align-items-center"
        [routerLink]="['/clothes']"
        > <i class="bi bi-arrow-left-short fs-3"></i> Volver
    </button>
    <!-- ============================================================== -->
    <!-- Form Create Clothes -->
    <!-- ============================================================== -->

    <form [formGroup]="clothesForm" (ngSubmit)="doSubmit()">
        
        <div class="_mim-h-custom-100">
            <label for="inputDescription" class="form-label">Descripción</label>
            <input 
                id="inputDescription"
                type="text"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="descriptionIsvalid"
                formControlName="description"
            >

            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="descriptionIsvalid">
                El campo es requerido.
            </div>

        </div>

        <div class="_mim-h-custom-100">
            <label for="inputPrice" class="form-label">Precio</label>
            <input 
                id="price"
                type="number"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="priceIsvalid"
                formControlName="price"
            >

            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="priceIsvalid">
                El campo es requerido, no permite valores negativos.
            </div>

        </div>

        <div class="row">

            <div class="_mim-h-custom-100 col">
                <label for="inputCategory" class="form-label">Categoría</label>
                <select id="inputCategory" class="form-select" 
                    formControlName="category"
                    [class.is-invalid]="categoryIsvalid">
                    <option disabled value="">Selecciona una categoría</option>
                    <option 
                        *ngFor="let category of clothesCategoties" 
                        [value]="category">{{ category }}
                    </option>
                </select>

                <div 
                    class="form-text text-danger animated fadeIn m-0"
                    *ngIf="categoryIsvalid">
                    Debes seleccionar una categoría.
                </div>


            </div>

            <div class="_mim-h-custom-100 col"> 

                <label for="inputStock" class="form-label">Stock</label>

                <input 
                    id="inputStock"
                    type="number"
                    class="form-control"
                    autocomplete="off"
                    [class.is-invalid]="stockIsvalid"
                    formControlName="stock"
                >

                <div 
                    class="form-text text-danger animated fadeIn m-0"
                    *ngIf="stockIsvalid">
                    El campo es requerido y no permite valores negativos.
                </div>

            </div>

        </div>

        <div class="d-flex justify-content-between py-3">
            <button
                class="btn text-secondary text-decoration-none fw-bold"
                [routerLink]="['/clothes']"
                >Cancelar
            </button>

            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    </form>
</div>


<!-- ============================================================== -->
<!-- modals components -->
<!-- ============================================================== -->
<app-modal-message
    *ngIf="modalMessageActive"
    [type]="modalType"
    [title]="modalCustomTitle"
    [text]="modalCustomMessage"
    (modalActive)="modalMessageActive = $event">
</app-modal-message>
