.card{
    min-width: 445px;
    min-height: 251px;
    z-index: 9999;
}
._btn-cancel{
    border: none;
    background: none;
}
.bg-loading{
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: #ffffff00;
}
._bg-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(73, 73, 73, 0.445);
}


