<!-- =========================================================== -->
<!-- Modals -->
<!-- =========================================================== -->

<ng-container *ngIf="getType !==  'load-page'; else loadPage" >
    <div class="_bg-modal"></div>

    <div class="card position-fixed top-50 start-50 translate-middle animated fadeIn">
        <div class="card-body text-center">

            <ng-container *ngIf="getType !== 'load'; else loading">

                <div class="animated fadeIn">

                    <!-- title and message
                    ============================================= -->
                    <h5 class="card-title">{{ title }}</h5>
                    <p *ngIf="text" class="clard-text">{{text}}</p>
                    <div>
                        <i class="fs-1" [ngClass]="iconType"></i>
                    </div>

                    <!-- close button
                    ============================================= -->
                    <ng-container *ngIf="getType !== 'delete'; else buttonDelete">

                        <button
                            class="btn m-3 fw-bold"
                            [ngClass]="buttonType"
                            (click)="closeModal()"
                            >{{ buttonText }}
                        </button>
                        
                    </ng-container>

                    <!-- confirm and cancel buttons
                    ============================================= -->
                    <ng-template #buttonDelete>

                        <button
                            *ngIf="getType === 'delete'"
                            class="_btn-cancel m-3 fw-bold text-secondary"
                            (click)="cancel()"
                            >Cancelar
                        </button>

                        <button
                            class="btn m-3 fw-bold"
                            [ngClass]="buttonType"
                            (click)="confirm()"
                            >{{ buttonText }}
                        </button>

                    </ng-template>

                </div>

            </ng-container>

            <ng-template #loading>

                <div>

                    <h5 class="card-title">{{ title }}</h5>
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <div class="spinner-border text-info" style="width: 3rem; height: 3rem" role="status"></div>
                    </div>
                    <p *ngIf="text" class="clard-text">{{text}}</p>

                </div>

            </ng-template>

        </div>
    </div>
    
</ng-container>

<!-- =========================================================== -->
<!-- Loading pages  -->
<!-- =========================================================== -->
<ng-template #loadPage>
    <div class="position-absolute bg-loading">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border text-info" style="width: 3rem; height: 3rem" role="status"></div>
        </div>
    </div>
</ng-template>