
<div class="animated fadeInRight">
    <!-- ============================================================== -->
    <!-- Header Sing In -->
    <!-- ============================================================== -->
    <h2>Iniciar sesión</h2>


    <!-- ============================================================== -->
    <!-- Form Sign In -->
    <!-- ============================================================== -->
    <div>
        <form [formGroup]="signInForm" (ngSubmit)="doSubmit()">

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input 
                    id="inputEmail"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    formControlName="email"
                >
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Precio</label>
                <input 
                    id="inputPassword"
                    type="password"
                    class="form-control"
                    formControlName="password"
                >
            </div>
            <div class="d-flex justify-content-between pt-3">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                
                <a class="link-primary text-decoration-none" routerLink="/auth/signup">¿No tienes cuenta? / registrarse</a>
            </div>
        </form>
    </div>
</div>

<!-- ============================================================== -->
<!-- modals components -->
<!-- ============================================================== -->
<app-modal-message
    *ngIf="modalMessageActive"
    [type]="modalType"
    [title]="modalCustomTitle"
    [text]="modalCustomMessage"
    (modalActive)="modalMessageActive = $event">
</app-modal-message>