<div class="animated fadeInLeft">
    <!-- ============================================================== -->
    <!-- Header Sign Up -->
    <!-- ============================================================== -->
    <h2>Crear Usuario</h2>
    <!-- ============================================================== -->
    <!-- Form Sign Up -->
    <!-- ============================================================== -->
    <form [formGroup]="signUpForm" (ngSubmit)="doSubmit()">

        <div class="_mim-h-custom-100">
            <label for="inputName" class="form-label">Nombre</label>
            <input 
                id="inputName"
                type="text"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="nameIsvalid"
                formControlName="name"
            >

            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="nameIsvalid">
                El campo es requerido, solo puede contener letras y no contener espacios.
            </div>

        </div>

        <div class="_mim-h-custom-100">
            <label for="inputSurname" class="form-label">Apellido</label>
            <input 
                id="inputSurname"
                type="text"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="surnameIsvalid"
                formControlName="surname"
            >

            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="surnameIsvalid">
                El campo es requerido, solo puede contener letras y no contener espacios.
            </div>
        </div>

        <div class="_mim-h-custom-100">
            <label for="inputEmail" class="form-label">Email</label>
            <input 
                id="inputEmail"
                type="text"
                class="form-control"
                autocomplete="off"
                [class.is-invalid]="emailIsvalid"
                formControlName="email"
            >
            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="emailIsvalid">
                Proporcione un email válido
            </div>
        </div>

        <div class="_mim-h-custom-100">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input 
                id="inputPassword"
                type="password"
                class="form-control"
                [class.is-invalid]="passwordIsvalid"
                formControlName="password"
            >

            <div 
                class="form-text text-danger animated fadeIn m-0"
                *ngIf="passwordIsvalid">
                Su contraseña debe tener entre 3 y 30 caracteres, permite letras, números, caracteres especiales (@$!%*?&) y no debe contener espacios.
            </div>

        </div>

        <div class="d-flex justify-content-between py-3">
            <button type="submit" class="btn btn-primary">Regristrarse</button>
            
            <a class="link-primary text-decoration-none" routerLink="/auth/signin">¿Ya tienes una cuenta? / Iniciar sessión</a>
        </div>

    </form>
</div>

<!-- ============================================================== -->
<!-- modals components -->
<!-- ============================================================== -->
<app-modal-message
    *ngIf="modalMessageActive"
    [type]="modalType"
    [title]="modalCustomTitle"
    [text]="modalCustomMessage"
    (modalActive)="modalMessageActive = $event">
</app-modal-message>