<div class="animated fadeInRight">
    <!-- ============================================================== -->
    <!-- Header clothes List-->
    <!-- ============================================================== -->
    <h1>Lista de productos</h1>
    <hr>
    <button
        class="btn btn-primary text-decoration-none fw-bold mb-3"
        [routerLink]="['/clothes/create']"
        ><i class="bi bi-plus-lg "></i> Agregar un nuevo producto
    </button>
    <!-- ============================================================== -->
    <!-- Body Clothes List -->
    <!-- ============================================================== -->

    <ng-container *ngIf="!clothesIsEmpty">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pb-5">

            <ng-container *ngFor="let clothes of clothesList">

                <div class="col animated fadeIn">
                    <div class="card overflow-hidden">
                        <img src="../../../assets/img/{{clothes.category}}.jpg" class="img-fluid"   style="height:200px" alt="...">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5 class="card-title d-inline me-3">{{ clothes.description }}</h5>
                                <span class="badge bg-primary">{{ clothes.category }}</span>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">{{ clothes.price | currency: 'ARS ' }}</h6>
                            <p>En stock: <span class="fw-bold">{{ clothes.stock }}</span></p>
                            <div class="d-flex justify-content-between g-1">

                                <button
                                    class="btn btn-sm btn-primary w-50"
                                    [routerLink]="['/clothes', clothes._id]"
                                    >Ver
                                </button>

                                <div class="row g-1">

                                    <div class="col-auto">
                                        <button
                                            class="btn btn-sm btn-success"
                                            (click)="openModalUpdateClothes( clothes )"
                                            ><i class="bi bi-pen"></i>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button
                                            class="btn btn-sm btn-danger"
                                            (click)="openModalDeleteClothes( clothes )"
                                            ><i class="bi bi-trash"></i>
                                        </button>
                                    </div>

                                </div>
                                

                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>

        </div>    

    </ng-container>


    <!-- ============================================================== -->
    <!-- Clothes is empty -->
    <!-- ============================================================== -->
    <ng-container *ngIf="!modalMessageActive && clothesIsEmpty">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <p class="h3 text-muted">No se econtraron registros</p> 
        </div>
    </ng-container >

</div>
<!-- End Clothes List -->

<!-- ============================================================== -->
<!-- modals components -->
<!-- ============================================================== -->
<app-delete-clothes
    *ngIf="modalDeleteClothesActive"
    [clothes]="clothes"
    (showModal)="modalDeleteClothesActive = $event"
    (chlothesDelete)=delteClothesList($event)>
</app-delete-clothes>

<app-update-clothes
    *ngIf="modalUpdateClothesActive"
    [clothes]="clothes"
    (showModal)="modalUpdateClothesActive = $event"
    (chlothesChange)=updateClothesList($event)>
</app-update-clothes>

<app-modal-message
    *ngIf="modalMessageActive"
    [type]="modalType"
    [title]="modalCustomTitle"
    [text]="modalCustomMessage"
    (modalActive)="modalMessageActive = $event">
</app-modal-message>